<header>
  <div class="logo">
    <img src="{{ url_for('static', filename='img/P_rogo_mark_type.png')}}" alt="">
  </div>
  <div class="nav-buttons">
    <a href="{{ url_for('autocount_home') }}">
      <button type="button" class="btn-header">稼働状況管理</button>
    </a>
    <a href="{{ url_for('qa') }}">
      <button type="button" class="btn-header">品質管理</button>
    </a>
    <a target="_blank" href="">
      <button id="ss" type="button" class="btn-header">スプレッドシート</button>
    </a>
    <a href="{{ url_for('messages_history') }}">
      <button type="button" class="btn-header">メッセージ履歴</button>
    </a>
  </div>
</header>